body{
    background-color: azure;
}

.main_content{
    min-height: 100vh;
    background-color: azure !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_card{
    width: 30rem;
}

.quiz_answer_card:hover{
    cursor: pointer;
    background-color: rgba(137, 43, 226, 0.214);
}

.question_footer{
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.bg-success, .bg-danger{
    color: white !important;
}

.width-100{
    width: 100%;
}

.text-center{
    text-align: center;
}